{% extends 'basefront.html.twig' %}

{% block body %}
    <h1>Create new Course</h1>

    {{ include('courses_front/_form.html.twig') }}

    <a href="{{ path('courses_front_index') }}">back to list</a>
{% endblock %}
