{% extends 'base.html.twig' %}

{% block title %}Ajouter Reclamation !{% endblock %}



{% block body %}
    <h2>Ajouter Nouveau Reclamation</h2>
    {{ form(form) }}

    <td><a href="{{ path('reclamation' )}}">Annuler</a></td>

{% endblock %}