{% extends 'base.html.twig' %}

{% block title %}Ajouter Coupon !{% endblock %}



{% block body %}
    <h2>Ajouter Nouveau Coupon</h2>
    {{ form(form) }}

    <td><a href="{{ path('admin' )}}">Annuler</a></td>

{% endblock %}