<form method="post" action="{{ path('coachfront_delete', {'id_user': coach.idUser}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ coach.idUser) }}">
    <button class="btn custom-btn">delete</button>
</form>
