<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome to SmartLearn</title>

</head>
<body>
<a href="{{ path('reclamation' )}}">Reclamations</a>
<a href="{{ path('coupon' )}}">Coupons</a>

</body>
</html>
