<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome to SmartLearn</title>

</head>
<body>
<a href="{{ path('dashboard' )}}">Front Office</a>
<a href="{{ path('admin' )}}">Back Office</a>
</body>
</html>
