{% extends 'base.html.twig' %}

{% block title %}Ajouter Achats !{% endblock %}



{% block body %}
    <h2>Ajouter Nouveau Achat</h2>
    {{ form(form) }}

    <td><a href="{{ path('achat' )}}">Annuler</a></td>

{% endblock %}